<div class="form-container">
  <h3 *ngIf="!editEmployee">Add New Employee</h3>
  <h3 *ngIf="editEmployee">Edit Employee</h3>
  <form>
    <div style="padding-right: 80px; width:230px; margin-left:0%">
        <label for="name">Name:</label>
        <input type="text" id="name" />
    </div>
    <div style="margin-bottom: 1rem;width:230px">
        <label for="designation">Designation:</label>
        <input type="text" id="designation" />
    </div>
    <div style="margin-left: 80px; width:230px">
      <label for="designation">Joining Date:</label>
      <input type="text" id="joiningDate" />
  </div>
    <div style="padding-right: 80px; width:230px; margin-left:0%">
        <label for="installmentAmount">Installment Amount:</label>
        <input type="number" id="installmentAmount" />
    </div>
    <div style="margin-bottom: 1rem;width:230px">
        <label for="totalInstallments">Total Installments:</label>
        <input type="number" id="totalInstallments" />
    </div>
    <div  style="margin-left: 80px; width:230px">
        <label for="installmentPeriod">Installment Period:</label>
        <input type="text" id="installmentPeriod" />
    </div>

    <div style="width:230px; margin-right:20px">
      <button type="submit">Add Employee</button>
    </div>
    
   
</form>

</div>


<div class="table-container">
  <h2>Employee Table</h2>
  <table>
    <thead>
      <tr>
        <th>Employee Name</th>
        <th>Designation</th>
        <th>Installment Amount</th>
        <th>Total Installments</th>
        <th>Installment Period</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{ employee.name }}</td>
        <td>{{ employee.designation }}</td>
        <td>{{ employee.installmentAmount }}</td>
        <td>{{ employee.totalInstallments }}</td>
        <td>{{ employee.installmentPeriod }}</td>
        <td>
          <button (click)="edit(employee)">Edit</button>
          <button (click)="deleteBonus(employee.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
